<nav>
  <div class="site-title">
    <a href="/"><h1>Messages</h1></a>
    <p>An Artemiy Knol Site</p>
  </div>
  <ul>
    <li><a href="/">Messages</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/create">New Message</a></li>
  </ul>
</nav>