<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  

  <div class="create-message content">
    <form action="/messages" method="POST">
      <label for="title">Message title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Message snippet:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Message body:</label>
      <input type="text" id="body" name="body" required>
      <button>Submit</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>